<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvn" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/facebook"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lvn.SQLiteDemoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lvn.DisplayImageActivity"
            android:label="@string/title_activity_display_image" >
        </activity>
    </application>

</manifest>
